/* 🌸 General */
body {
  font-family: 'Arial', sans-serif;
  background: #00060b;
  transition: background 0.3s, color 0.3s;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: 900;
  letter-spacing: 1px;
}

/* 🟣 Purple and Pink Theme */
.bg-purple {
  background-color: #4517d2 !important;
}
.text-purple {
  color: #9FB3DF !important;
  text-shadow: 2px 2px 4px #000000;
}
.btn-purple {
  background-color: #1e0979;
  color: rgb(85, 21, 214);
  border: none;
}
.btn-purple:hover {
  background-color: #b82f6e;
}

/* Cards */
.card-header {
  font-weight: bold;
  font-size: 1.4rem;
}

.card {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

.bg-fifo {
  background-color: #322cdd;
}
.bg-lru {
  background-color: #5f3bee;
}

/* 🌙 Dark Mode */
.dark-mode {
  background-color: #1B3C53;
  color: rgba(16, 2, 2, 0.741);
}

.dark-mode .navbar {
  background-color: #1B3C53 !important;
}

.dark-mode .card {
  background-color: #2c2c2c8e;
  color: rgb(25, 10, 10);
}

.dark-mode .bg-light {
  background-color: #4E6688 !important;
}

.dark-mode .table {
  background-color: #333;
  color: white;
}

/* Table */
.table {
  background: white;
}

#summary {
  font-size: 1rem;
}

body {
    background: #1A2A80;
    font-family: 'Verdana', sans-serif;
    font-weight: 100;
}

.navbar {
    background-color: #1A2A80 !important;
}

.hover-border {
    color: white;
    font-weight: bold;
}

.card {
    background: linear-gradient(145deg, #b3b7e7, #3d5fe85c);
    color: #0b3855;
    border: 3px solid #fafafe;
    border-radius: 30px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.344);
}

.btn-dark {
    background-color: #30126f !important;
    border: none;
}

.btn-dark:hover {
    background-color: #d566c8 !important;
}

#table th {
    background-color: #814d91;
    color: white;
}

#table td {
    background-color: #ffe6f2;
    color: black;
}

#summary {
    background-color: #2d39e2;
    color: white;
    padding: 10px;
    border-radius: 10px;
    width: 80%;
    text-align: center;
}
